/* Put any custom CSS styles here.  */
/* Be sure to delete the <style> tag in index.html if you want to use this stylesheet. */
body {
  margin: 0;
  font-family: "Noto Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  min-height: 100vh;
  background: linear-gradient(147.52deg, #f9fafb 8.89%, #d2d6db 100.48%);
  padding: 16px;
}

* {
  box-sizing: border-box;
}

.credits {
  color: #777;
  position: fixed;
  bottom: 24px;
  left: 24px;
  font-size: 11px;
  text-align: center;
}

.credits a {
  color: #000;
  font-weight: bold;
}

.content {
  padding: 56px 0px;
  border-radius: 4px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #ffffff;
}

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 48px 12px;
  gap: 48px;
  align-items: center;
  background-color: #ffffff;
}

.hero-message {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.text-pair {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.heading {
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  color: #171717;
}

.caption {
  font-size: 18px;
  line-height: 28px;
  color: #525252;
}

.hero-image {
  overflow: cover;
}

.hero-image img {
  max-width: 100%; /* Set a fixed width */
  height: auto; /* Maintain aspect ratio */
}

.cta-buttons {
  display: flex;
  justify-content: space-between;
}

.cta-buttons .button {
  height: 48px;
  border: none;
  background: none;
  padding: 12px 20px;
  font-size: 16px;
  line-height: 24px;
  color: #171717;
  border-radius: 4px;
  font-weight: 500;
  box-shadow:
    0px 1px 3px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.06);
}

.cta-buttons .primary {
  color: #ffffff;
  background-color: #4338ca;

}

@media screen and (min-width: 768px) {
  .hero-message {
    display: flex;
    flex-direction: column;
    gap: 64px;
  }

  .cta-buttons {
    display: flex;
    justify-content: flex-start;
    gap: 16px;
  }

  .heading {
    font-weight: 600;
    font-size: 48px;
    line-height: 48px;
    color: #171717;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    padding: 64px 16px;
    gap: 32px;
    align-items: center;
    background-color: #ffffff;
    border-radius: 8px;
  }

  .content {
    padding: 8px 0px;
    border-radius: 6px;
    height: 100%;
  }

  .caption {
    font-size: 20px;
    line-height: 28px;
    color: #525252;
  }

  .cta-buttons .button {
    height: 60px;
    border: none;
    background: none;
    padding: 16px 54.5px;
    font-size: 18px;
    line-height: 28px;
    color: #171717;
    border-radius: 4px;
    font-weight: 500;
    box-shadow:
      0px 1px 3px rgba(0, 0, 0, 0.1),
      0px 1px 2px rgba(0, 0, 0, 0.06);
  }

  .cta-buttons {
    display: flex;
    justify-content: flex-start;
    gap: 32px;
  }

  .cta-buttons .primary {
    color: #ffffff;
    background-color: #4338ca;
  }
}

@media screen and (min-width: 1440px) {
  .wrapper {
    display: flex;
    flex-direction: row;
    padding: 96px;
    gap: 32px;
    align-items: center;
    background-color: #ffffff;
    border-radius: 8px;
  }

  .hero-image img {
    max-width: 696px; /* Set a fixed width */
    height: auto; /* Maintain aspect ratio */
  }

  .heading {
    font-weight: 600;
    font-size: 60px;
    line-height: 60px;
    color: #171717;
  }
}

